.container .content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .content {
  flex: 1;
  border: 0;
  width: 100%;
  outline: none;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

.container .content canvas {
  top: 50%;
  left: 50%;
  margin: 0;
  outline: none;
  max-height: 100%;
  position: absolute;
  border: solid 1px #777;
  transform: translate(-50%, -50%);
}